<h2>Barns Index Page</h2>

<% @barns.each do |barn| %>
<h3> <p><%= barn.name %></p></h3>
<p> created:<%= barn.created_at %></p>
 <% end %>

 <%= link_to "New Barns", '/barns/new' %>
 <% @barns.each do |barn| %>
  <h3><%= barn.name %></h2>
  <% end %>