<h2>Barns Index Page</h2>

<% @barns.each do |barn| %>
<h3> <p><%= barn.name %></p></h3>
<p> created:<%= barn.created_at %></p>
<%= link_to "Update #{barn.name}", "/barns/#{barn.id}/edit"%> <br><br>
 <% end %>
<br>
<br>
 <%= link_to "New Barns", '/barns/new' %>
 