
<h2>New Barns</h2>

<%= form_with url: '/barns', method: :post, local: true do |form| %>
  <p><%= form.label :name %></p>
  <p><%= form.text_field :name %></p>
  <br>
  <%= form.submit 'Create Barn' %>
<% end %>